<html>
{% extends "main.html" %}
{% block content %}
<head>
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='style2.css')}}">
    </head>

    <body>
    <div class = 'pane'>
       <div class = 'header'>
       <h1>Catagory: {{catalog.name}}</h1>
    </div>
</br>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
{% for message in messages %}
   <li><strong>{{message}}</strong></li>
   {% endfor %}
</ul>
{% endif %}
{% endwith %}

<a href ='{{url_for('showCatalog')}}' >Go Back</a>
</br></br>


{% for i in items %}

<div>
 <a class='second' href ='{{url_for('showItemDesc', catalog_id = catalog.id, item_id=i.id) }}'>{{i.name}}</a> 

</div>


{% endfor %}
</body>
{% endblock %}
</html>